*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	background: #e0e0e0}
.main{
	position:absolute;
	top:9%;left:50%;
	transform: translate(-50%,-50%);
}
.btn1{
    position: absolute;
    width: 300px;
    height: 80px;
    border-radius: 70px;
    font-size: 40px;
    font-weight: 600;
    background-color: #5e971c;
    color: white;
    border: 0px;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	left: 39%;
}

.btn2{
    position: absolute;
    width: 300px;
    height: 80px;
    border-radius: 70px;
    font-size: 32px;
    font-weight: 600;
    background-color: #5e971c;
    color: white;
    border: 0px;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	top: 390px;
	left:38%;
}

input{
	border:3px solid #000;
	height: 40px;
	width: 350px;
	border-radius: 50px;
	padding: 0px 10px;
	 
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}
.previous {
  background-color: #f1f1f1;
  color: black;
}
header{
	display: -webkit-flex;
	display: -mos-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 70px;
	background-color: #FFFFFF;
}
header p{
	font-size: 56px;
	align: center;
	left: 700%;
	font-family:    Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-weight: 525;
}
header .two{
	font-size: 34px;
	color: black;
}

.container1{
	display: flex;
	width:100%;
	height: 700px;
}

.t1{
	position: absolute;
	top:400px;
	left: 5%;
	border-radius: 60px;
	border: 1px solid black;
	background: #FFFFFF;
}

.text1{
	border-radius: 35px;
	text-align: center;
	width: 500px;
	height: 80px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 28px;
    font-weight: 600;
	background-color: #5e971c;
	color: white;
	border: 0px;
	position: absolute;
	top: 250px;
	left: 30%;
}
.text2{
    position: absolute;
    top: 250px ;
    left: 320px;
	border-radius: 35px;
	text-align: center;
	width: 700px;
	height: 80px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 28px;
    font-weight: 600;

	background-color: white;
	color: rgb(5, 5, 5);
	border: 0px;
}
.btnsubmit{
  float: left;
  width: 50px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 0px;
  border-left: none;
  cursor: pointer;
}
.fa-search{
	position: absolute;
	top: 270px;
	left:1100px; 
}
.fa-chevron-circle-left{
	color: grey;
	position: absolute;
	left: 90%;
}
textarea{
	width: 1050px;
	height: 300px;
	position: absolute;
	top:50px;
	left: 6%;
	font-size: 24px;
	background: #e6e3e3;
}
textarea::placeholder{
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 34px;
    font-weight: 600;
	color: black;
}
td{
    text-align: center;
	font-size: 30px;
}