*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	background: #e0e0e0}
.main{
	position:absolute;
	top:9%;left:50%;
	transform: translate(-50%,-50%);
}
a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}
.previous {
  background-color: #f1f1f1;
  color: black;
}
header{
	display: -webkit-flex;
	display: -mos-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 70px;
	background-color: #FFFFFF;
}
header p{
	font-size: 56px;
	align: center;
	left: 700%;
	font-family:    Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-weight: 525;
}
header .two{
	font-size: 34px;
	color: black;
}

.container1{
	display: flex;
	width:100%;
	height: 700px;
}

.t1{
	position: absolute;
	top:400px;
	left: 30%;
	border-radius: 60px;
	border: 0px solid black;
	background:white;
}
.t2{
	position: absolute;
	top:50px;
	left: 6%;
	border: 1px solid black;

}
.tr1{
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 28px;
    font-weight: 600;
	text-align: center;
}
.text1{
	border-radius: 35px;
	text-align: center;
	width: 290px;
	height: 80px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 28px;
    font-weight: 600;
	background-color: #5e971c;
	color: white;
	border: 0px;
	position: absolute;
	left: 40%;
}

.fa-user{
	color: black;
	width: 156px;
	height: 56px;
	position: absolute;
	top: 242px;
	left:1245px; 
}
.fa-search{
	position: absolute;
	top: 242px;
	left:1245px; 
}
.fa-chevron-circle-left{
	color: grey;
	position: absolute;
	left: 90%;
}


.text2{
	position: absolute;
	top: 145px;
	left: 17%;
	width: 455px;
	height: 75px;
   border: 0px;
   outline: 0;
   	
   border-bottom: 1px solid #494949;
}
.text3{
	position: absolute;
	top: 250px;
	left: 17%;
	width: 455px;
	height: 75px;
   border: 0;
   outline: 0;
   border-bottom: 1px solid black;
}

::placeholder{
    color: rgba(0,0,0,0.7);
	text-align: center;
	font-size: 20px;
}
.button{
	position: absolute;
    width: 270px;
    height: 61px;
    border-radius: 20px;
    font-size: 28px;
    font-weight: 600;
    background-color:#292828 ;
    color: white;
    border: 0px;
    border-radius: 10px;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	top: 480px;
	left:31%;
}
.button:hover 
{
    background:#C7C7C7 ;
	border: 1px solid #fff;
}