@charset "utf-8";
/* CSS Document */
.background
{
	background: #E0D4D4;
}
.des1{
    height: 60px;
    width: 150px;
    background-color: green;
    border-radius: 100px;
    text-align: center;
	padding-top: 0.05px;
	
}
.h2
{
	align-content: center;
}
.btn1
{
	  background-color: #4CAF50; /* Green */
  border: #000000;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
	
}
.details
{
    height: 100px;
    width: 1150px;
    background-color: white;
    border: 1px solid black;
    border-radius: 30px;
    text-align: center;
    padding-top: 20px;
    padding-left: 45px;
    font-size: 24px;
}
.des2{
    height: 60px;
    width: 150px;
    background-color: green;
    border-radius: 100px;
    text-align: center;
	padding-top: 0.05px;
}
.des3{
    height: 60px;
    width: 150px;
    background-color: green;
    border-radius: 100px;
    text-align: center;
	padding-top: 0.05px;
	
}
.h6
{
	font-size: 9px;
}
.h3
{
	font-size: 20px;
}

