*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	background: #e0e0e0}
.main{
	position:absolute;
	top:9%;left:50%;
	transform: translate(-50%,-50%);
}
.btn1{
    position: absolute;
    width: 200px;
    height: 70px;
    border-radius: 20px;
    font-size: 28px;
    font-weight: 600;
    background-color: #5e971c;
    color: white;
    border: 0px;
    border-radius: 30px;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	top: 1120px;
	left:8%;
}
.btn2{
    position: absolute;
    width: 200px;
    height: 70px;
    border-radius: 20px;
    font-size: 28px;
    font-weight: 600;
    background-color: #5e971c;
    color: white;
    border: 0px;
    border-radius: 30px;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	top: 1120px;
	left:8%;
}
.btn3{
    position: absolute;
    width: 200px;
    height: 70px;
    border-radius: 20px;
    font-size: 28px;
    font-weight: 600;
    background-color: #5e971c;
    color: white;
    border: 0px;
    border-radius: 30px;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	top: 1120px;
	left:25%;
}

input{
	border:3px solid #000;
	height: 40px;
	width: 350px;
	border-radius: 50px;
	padding: 0px 10px;
	 
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}
.previous {
  background-color: #f1f1f1;
  color: black;
}
header{
	display: -webkit-flex;
	display: -mos-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 70px;
	background-color: #FFFFFF;
}
header p{
	font-size: 50px;
	align: center;
	left: 700%;
	font-family:    Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-weight: 525;
}
header .two{
	font-size: 34px;
	color: black;
}

.container1{
	display: flex;
	width:100%;
	height: 700px;
}

.t1{
	position: absolute;
	top:400px;
	left: 5%;
	border-radius: 60px;
	border: 1px solid black;
	background: #FFFFFF;
}
.t2{
	position: absolute;
	top:50px;
	left: 6%;
	border: 1px black;
	border-collapse: collapse;

}

	
  
.tr1{
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 28px;
    font-weight: 600;
	text-align: center;
}
.tr2{
	font-size: 26px;
}
.txt1{
	border-radius: 35px;
	text-align: center;
	width: 170px;
	height: 80px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 28px;
    font-weight: 600;
	background-color: #5e971c;
	color: white;
	border: 0px;
	position: absolute;
	left: 39%;
	top:250px;
}
.text2{
	border-radius: 35px;
	text-align: center;
	width: 700px;
	height: 80px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 28px;
    font-weight: 600;
	background-color: white;
	color: white;
	border: 0px;
	position: absolute;
	left: 19%;
}
.btnsubmit{
  float: left;
  width: 50px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 0px;
  border-left: none;
  cursor: pointer;
}
.fa-search{
	position: absolute;
	top: 250px;
	left:1000px; 
}
.fa-chevron-circle-left{
	color: grey;
	position: absolute;
	left: 90%;
	top: 240px;
}
.form2{
	border-radius: 15px;
	border: 1px solid black;
}